* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.pdf binary
*.svg text eol=lf

public/images/storylines/*.svg filter=lfs diff=lfs merge=lfs -text
public/images/storylines/*.jpg filter=lfs diff=lfs merge=lfs -text
public/images/storylines/*.png filter=lfs diff=lfs merge=lfs -text
